body {
  background-image: url("background001.PNG");
  background-size: cover;
  display: grid;
  place-items: center;
  height: 140vh;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.drag { /*for box*/
  width: 250px;
  height: 250px;
  margin: 30px;
  padding: 10px;
  border: 1px solid white;

}

.button1{
  background-color: white;
width: 150px;
color: black;
padding: 10px;
text-align: center;
position: absolute;
left: 71%;
top: 95%;
cursor: pointer;
border-radius: 100px;
}


.button2{
  background-color: white;
width: 150px;
color: black;
padding: 10px;
text-align: center;
position: absolute;
left: 71%;
top: 90%;
cursor: pointer;
border-radius: 100px;
}

.button3{
  background-color: white;
width: 250px;
color: black;
padding: 10px;
text-align: center;
position: absolute;
left: 68%;
top: 20%;
cursor: pointer;
border-radius: 100px;
}

h2{font-style: italic;
font-family: sans-serif;}

h2{font-style: italic;}

#left{
margin: 0;
}

#name{
  font-size: 2em;
  font-family: sans-serif;
}

.container1{
  position: absolute;
}

.container2{
  position: absolute;
  left:85%;
}

.card {
  position: absolute;
  left: 30%;
  background: #fdfdfd;
  border-radius: 4px;
  height: 100vh;
  width: 35vw;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0. 0. 0. 0.23);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  overflow: hidden;
  background-image: url("wallpaper.PNG");
  background-size: cover;
  top: 15%;
}

.card * {
  transition: all 0.2s ease-in-out;
}

@media only screen and {max-width: 640px) {
  .card{
    flex-direction: row-reverse;
  }

  .card img.birthday{
    width: 100%;
    max-width: 50vw;
    max-height: 40ch;
  }

  .text{
    padding: 1em;
  }
}


img.birthday{
  max-height: 20vh;
}

.muted{
  opacity: 0.8;
}

.space {
  height: 100px;
}

#drag1 {
  margin-top: 10px;
  padding: 10px;
}

img{
    width: 200px;
    height: 200px;
}

p{font-style: italic;}
